<script type="text/javascript">
    /* jqt tooltips */
    jQuery.noConflict();
    jQuery(document).ready( function()
            {
                <!-- BEGIN calendar_days -->
                <!-- BEGIN raidplans -->
                jQuery("#raid_id{calendar_days.raidplans.RAID_ID}").tooltip(
                        {
                            position:'top center',
                            relative:true,
                            effect: 'slide',
                            onShow: function() {
                                var $trigger = this.getTrigger();
                                $trigger.fadeTo("slow", 0.55);
                            },
                            onHide: function() {this.getTrigger().fadeTo(1,1);}

                        });
                <!-- END raidplans -->
                <!-- END calendar_days -->

            }
    );
</script>


<h2>{CALENDAR_HEADER}</h2>
<div class="forumbg">
    <div class="inner">
        <span class="corners-inner-top"><span></span></span>

        <table class="table1" cellspacing="1" cellpadding="0">
            <thead>
            <tr>
                <th style="width: 14%; height: 24px; text-align: center"><h4>{D0}</h4></th>
                <th style="width: 14%; height: 24px; text-align: center"><h4>{D1}</h4></th>
                <th style="width: 14%; height: 24px; text-align: center"><h4>{D2}</h4></th>
                <th style="width: 14%; height: 24px; text-align: center"><h4>{D3}</h4></th>
                <th style="width: 14%; height: 24px; text-align: center"><h4>{D4}</h4></th>
                <th style="width: 14%; height: 24px; text-align: center"><h4>{D5}</h4></th>
                <th style="width: 14%; height: 24px; text-align: center"><h4>{D6}</h4></th>

            </tr>
            </thead>
            <tfoot>
            <tr>
                <th class="footer" colspan=0 style="text-align: left; white-space: nowrap; color:white;" colspan="0">
                    <!-- IF ! .raidplans -->{L_NO_RAIDS_SCHEDULED}<!-- ELSE --><!-- ENDIF -->
                </th>
            </tr>
            </tfoot>
            <tbody>
            <!-- BEGIN calendar_days -->
            <!-- IF calendar_days.START_WEEK -->
            <tr style="height: 100px">
                <!-- ENDIF -->
                <!-- IF calendar_days.DUMMY_DAY -->
                <td  valign="top" class="bg3 calMon">&nbsp;</td>
                <!-- ELSE -->
                <td valign="top" class="
	    <!-- IF calendar_days.DAY_CLASS eq 'highlight' -->bg2 calMon<!-- ELSE -->bg1 calMon<!-- ENDIF -->">
                    <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="<!-- IF calendar_days.HEADER_CLASS eq 'highlight' -->bg4 calMonH<!-- ELSE -->bg3 calMonH<!-- ENDIF -->">
                                <ul class="raidplanner-icons" style="float: left;">
                                    <li>
                                        <a href="{calendar_days.U_DAY_VIEW_URL}"><strong>{calendar_days.NUMBER}</strong></a>
                                    </li>
                                    <!-- IF calendar_days.ADD_LINK  && calendar_days.ADD_RAID_ICON -->
                                    <li class="planner-new-icon"><a href="{calendar_days.ADD_LINK}" title="{L_NEW_EVENT}"><span></span></a></li>
                                    <!-- ENDIF -->

                                </ul>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <!-- IF calendar_days.BIRTHDAYS -->{calendar_days.BIRTHDAYS}<!-- ENDIF -->
                    <!-- BEGIN raidplans -->
                    <!-- IF calendar_days.raidplans.S_FIRST_ROW --><!-- IF calendar_days.BIRTHDAYS -->
                    <hr class="hrCal" /><!-- ENDIF --><!-- ELSE --><hr class="hrCal"><!-- ENDIF -->
                    <a id="raid_id{calendar_days.raidplans.RAID_ID}" href="{calendar_days.raidplans.EVENT_URL}">
                        <img src="{calendar_days.raidplans.IMAGE}" alt="{calendar_days.raidplans.ETYPE_DISPLAY_NAME}" /> <br/>
                        <!-- IF S_DISPLAY_NAME -->

                        <!-- IF calendar_days.raidplans.COLOR --><span><!-- ENDIF -->
			<!-- IF calendar_days.raidplans.DISPLAY_BOLD --><strong><!-- ENDIF -->

                            <!-- IF calendar_days.raidplans.ETYPE_DISPLAY_NAME -->{calendar_days.raidplans.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{calendar_days.raidplans.EVENT_SUBJECT}
                            <!-- IF calendar_days.raidplans.DISPLAY_BOLD --></strong><!-- ENDIF -->
				<!-- IF calendar_days.raidplans.SHOW_TIME --><br /><span class="smCalText">
					<!-- IF calendar_days.raidplans.ALL_DAY -->{L_ALL_DAY}
					<!-- ELSE -->{L_FROM_TIME}: {calendar_days.raidplans.INVITE_TIME}
					<br />{L_FROM_TIME}: {calendar_days.raidplans.START_TIME}
					<br />{L_TO_TIME}: {calendar_days.raidplans.END_TIME}
					<!-- ENDIF --></span>
				<!-- ENDIF -->
			<!-- IF calendar_days.raidplans.COLOR --></span><!-- ENDIF -->

                        <!-- ENDIF -->


                    </a>
                    <!-- INCLUDE planner/RaidCalendar/planner_tooltip.html -->

                    <!-- END raidplans -->
                </td>
                <!-- ENDIF -->
                <!-- IF calendar_days.END_WEEK -->
            </tr>
            <!-- ENDIF -->

            <!-- END calendar_days -->
            </tbody>
        </table>

        <span class="corners-inner-bottom"><span></span></span>
    </div>
</div>
  